.zoom{
    transition: all 0.3s;
}
.zoom:hover{
    transform: scale(1.15);
    box-shadow: 1px 1px 10px #1791C8;
}
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #151515; /* Light grey background */
}

::-webkit-scrollbar-thumb {
    background: #004BA7; /* Custom color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #003377; /* Darker shade on hover */
}

/* Firefox Scrollbar Customization */
html {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #004BA7 #151515; /* Custom thumb color and track color */
}

/* CSS For Footer Starts here */

footer {
    background-color: #181818;
    padding: 20px 0;
}

footer h5 {
    color: #3a84fc;
    margin-bottom: 15px;
}

footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    transition: border-color 0.3s;
}
footer a:hover {
    border-bottom: 2px solid #3a84fc;
}



.footer-icons a {
    margin: 0 10px;
}

.footer-icons img {
    width: 30px;
    height: 30px;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    text-align: center;
}
/* Shadow starts */
.customshadow{
    box-shadow: 1px 1px 20px #1791C8;
}
